<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/home_admin.css">
    <title>Document</title>
</head>
<body>
    <header class="menu_container">
        <div class="menu_container__content">
            <div class="menu_container__titul">
                <span>Admin</span>
            </div>
            <div class="menu_container__img">
                <img src="../assets/imagenes/Gatoteclado.gif" alt="foto perfil">
                <hr>
            </div>
            <div class="menu_container__links content">
                <ul class="content__ul">
                    <li class="content__li"><a class="content__links" href="">Categorias</a></li>
                    <li class="content__li"><a class="content__links" href="">Proveedores</a></li>
                    <li class="content__li"><a class="content__links" href="">Usuarios</a></li>
                    <li class="content__li"><a class="content__links" href="">Productos</a></li>
                    <li class="content__li"><a class="content__links" href="">Marcas</a></li>
                    <li class="content__li"><a class="content__links" href="">Reportes</a></li>
                </ul>
            </div>
        </div>
    </header>
    <nav class="content_header">
        <div class="content_header__contenido">
            <a class="content_header__contenido__link" href="">Admin</a>
        </div>
    </nav>

    <div class="container_slider">
        <div class="container_slider__img">
            <ul>
                <li>
                    <input type="radio" name="s_radio" id="slider_content_1" checked>
                    <label for="slider_content_1"></label>
                    <img src="../assets/imagenes/gato.jpg" alt="">
                </li>
                <li>
                    <input type="radio" name="s_radio" id="slider_content_2">
                    <label for="slider_content_2"></label>
                    <img src="../assets/imagenes/gatologin.jpeg" alt="">
                </li>
                <li>
                    <input type="radio" name="s_radio" id="slider_content_3" >
                    <label for="slider_content_3"></label>
                    <img src="../assets/imagenes/admin.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>

</body>
</html>