<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- hoja de estilos -->
    <link rel="stylesheet" href="../assets/css/login.css">
</head>
<body>
	<div class="card_container">
        <div class="card_container__content">
            <div class="card_container__content__img">
                <img src="../assets/imagenes/gatologin.jpeg" alt="foto de gato con cobarta">
            </div>
            <div class="card_container__content__form form">
                <form action="home_admin.html" method="post" class="form__content" autocomplete="off">
                    <h2 class="form_titulo">STRONG INVENTORIES</h2>
                    <input type="text" placeholder="Usuario" required>
                    <input type="text" placeholder="Contraseña" required>
                    <span><a href="" class="form__content__enlace">¿ Olvido su Contraseña ?</a></span>
                    <button class="boton_form" >Iniciar Sesi&oacuten</button>
                    <span><a href="registro.html" class="form__content__enlace">Crear Cuenta</a></span>

                </form>

            </div>
        </div>
    </div>
    
</body>
</html>