$phone:668px;
$tablet:980px;
$desktop:1200px;
$desktop-xl:1201px;

@mixin resposibo ($media) {
    @if $media==desktop-xl{
        @media (min-width: 1200px){
                @content;
        }
}
@else if $media==desktop{
        @media (min-width: 991px) and (max-width: 1199px) { 
                @content;                     
            }
    }
    @else if $media==tablet{
       
        @media (min-width: 631px) and (max-width: 990px) {
                @content;
        }
    }
    @else if $media==phone{
        @media (max-width: 630px){
                @content;
            }
    }
    @else if $media==phone-h{
        @media (min-width: 480px) and (max-width: 767px) and (orientation: landscape){
                @content;
            }
    }
    
}